{{- $imageFile := print "public/images/thumbnails/" (partial "article-image.html" .) ".png" -}}
{{- if fileExists $imageFile -}}
{{- $image := imageConfig $imageFile -}}
<a title="{{ .Title }}" href="{{ .Permalink }}">
  <picture>
    <source srcset="/images/thumbnails/{{ partial "article-image.html" . }}.png" type="image/png">
    <source srcset="/images/thumbnails/{{ partial "article-image.html" . }}.jpg" type="image/jpeg">
    <source srcset="/images/thumbnails/{{ partial "article-image.html" . }}.webp" type="image/webp">
    <img
      alt="{{ .Title }}"
      src="/images/thumbnails/{{ partial "article-image.html" . }}.png"
      width="{{ $image.Width }}"
      height="{{ $image.Height }}"
    />
  </picture>
</a>
{{- else -}}
{{- $image := imageConfig "public/images/thumbnails/placeholder.png" -}}
<a href="{{ .Permalink }}">
  <img
    alt="{{ .Title }}"
    src="/images/thumbnails/placeholder.png"
    height="{{ $image.Height }}"
    width="{{ $image.Width }}"
  />
</a>
{{- end -}}
