{{ define "main" }}
<main>
  <article-archive-list>
  {{ $type := .Type }}

  {{ range (.Site.RegularPages.GroupByDate "2006") }}
    {{ $articles := (where .Pages "Type" $type) }}
    {{ if and (gt .Key 1) (gt (where .Pages "Type" $type) 0) }}
      {{ range (first 1 $articles) }}
      <h1>{{ .Date.Format "2006" }}</h1>
      {{ end }}

      <ul>
        {{ range $articles }}
          {{ if (ne .Params.hidden true) }}
          <li>
            <a title="{{ .Title }}" href="{{ .RelPermalink }}">
              <code><time datetime="{{ dateFormat "2006-01-02" .Date }}">{{ .Date.Format "02 Jan" }}</time></code>
              <span>{{- .Title | markdownify -}}</span>
            </a>
          </li>
          {{ end }}
        {{ end }}
      </ul>
    {{ end }}
  {{ end }}
  </article-archive-list>
</main>
{{ end }}
