{{ define "main" }}
<section class="section is-fullheight" itemscope itemtype="https://schema.org/AboutPage">
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-7">
				<article class="content">
				<br>
        <span class="marginnote rightnote">
          See an archive of all {{ .Type }} <a class="underline" href="/{{ .Type }}/archive/">here.</a>
        </span>
        <recent-article>
				{{ range where .Paginator.Pages ".Params.hidden" "ne" "true" }}
          {{ .Render "summary" }}
				{{ end }}
        </recent-article>
        </article>
				{{ partial "pagination.html" . }}
        <br>
        <a href="/{{ .Type }}/archive/" class="front__more is-block has-text-centered">
          <span>Archive of all {{ .Type }}</span> {{ safeHTML (readFile "public/css/icons/feather/corner-down-right.svg") }}
        </a>
			</div>
		</div>
	</div>
</section>
{{ end }}
