{{ define "main" }}
<section class="section is-fullheight" itemscope itemtype="https://schema.org/AboutPage">
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-7">
				<article class="content">
				<br>
        <span class="marginnote rightnote">
          See an archive of all {{ .Type }} <a class="underline" href="/{{ .Type }}/archive/">here.</a>
        </span>
        <recent-article>
				{{ range where .Paginator.Pages ".Params.hidden" "ne" "true" }}
          {{ .Render "summary" }}
				{{ end }}
        </recent-article>
        </article>
				{{ partial "pagination.html" . }}
        <br>
        <a href="/{{ .Type }}/archive/" class="front__more is-block has-text-centered">
          Archive of all {{ .Type }}                        
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <polyline points="9 18 15 12 9 6"></polyline>
          </svg>
        </a>
			</div>
		</div>
	</div>
</section>
{{ end }}
