{{ define "main" }}
<main>
  <article-list>

    <margin-note right>
      See an archive of all {{ .Type }} <a href="/archives/{{ .Type }}/">here.</a>
    </margin-note>

    <recent-articles>
      {{ if eq .Title "Posts" }}<recent-posts>{{ end }}
      {{ if eq .Title "Projects" }}<recent-projects>{{ end }}
        {{ range where .Paginator.Pages ".Params.hidden" "ne" "true" }}
          {{ .Render "summary" }}
        {{ end }}
      {{ if eq .Title "Posts" }}</recent-posts>{{ end }}
      {{ if eq .Title "Projects" }}</recent-projects>{{ end }}
    </recent-articles>

  {{ partial "article-pagination.html" . }}

  {{ partial "article-archive-link.html" . }}

  </article-list>
</main>
{{ end }}
