<div class="columns is-mobile">

  <div class="column is-5 has-text-centered">
    <a href="{{ .Permalink }}">
      {{ $image := imageConfig (print "public/images/thumbnails/" (partial "article-image.html" .) ".png") }}
      <picture>
        <source srcset="/images/thumbnails/{{ partial "article-image.html" . }}.png" type="image/png">
        <source srcset="/images/thumbnails/{{ partial "article-image.html" . }}.jpg" type="image/jpeg">
        <source srcset="/images/thumbnails/{{ partial "article-image.html" . }}.webp" type="image/webp">
        <img class="image__thumbnail" alt="{{ .Title }}" src="/images/thumbnails/{{ partial "article-image.html" . }}.png"
         height="{{ $image.Height }}" width="{{ $image.Width }}"/>
      </picture>
    </a>
  </div>

  <div class="column is-7">
    <article>
      <header class="post-header">

      <h2 class="article__title title is-5 has-text-weight-bold">
        <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
      </h2>

      <p class="article__date subtitle is-6">
        {{ partial "page-date.html" . }}{{ partial "page-status.html" . }} · {{ partial "read-time.html" . }}
      </p>

      </header>
      <p class="article__summary">{{ if .Params.summary }}{{ truncate 75 "..." .Params.summary }}{{ else }}{{ truncate 75 "..." .Summary}}{{ end }}</p>
      <p><a class="underline" href='{{ .Permalink }}'>Continue reading ({{ .FuzzyWordCount }} words)</a></p>
    </article>
  </div>

</div>

<hr class="article__divider">
