<article-card>
  <article-thumbnail>
    {{ partial "article-thumbnail-image.html" . }}
  </article-thumbnail>

  <article-summary>
      <h2><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title | markdownify }}</a></h2>

      <article-summary-meta>
        {{- partial "meta-pagedate.html" . -}}
        {{- partial "meta-pagestatus.html" . -}}
        {{- partial "meta-readtime.html" . -}}
      </article-summary-meta>

      <p>
        {{ if .Params.summary }}
          {{ truncate 75 "..." .Params.summary }}
        {{ else }}
          {{ truncate 75 "..." .Summary}}
        {{ end }}
      </p>
      <a href='{{ .Permalink }}'>Continue reading ({{ .FuzzyWordCount }} words)</a>
  </article-summary>
</article-card>
