{{ define "main" }}
  {{ $sidenote := "<margin-note right>See an archive of all taxonomies <a href=\"/archives/tags/\">here.</a></margin-note>" }}
  {{ $title := .Title }}
  {{ if eq $title "Tags" }}
    <main>
      <taxonomy-list>
      {{ safeHTML $sidenote }}
      <h1>Taxonomies</h1>
      <hr>
      <section>
        {{ range .Paginator.Pages }}
          {{ $title := .Title }}
          <h2>{{ .Title | title }}</h2>
          {{- range $taxonomy := .Site.Taxonomies -}}
            {{- range $tag, $article := $taxonomy -}}
              {{ if eq $tag $title }}
              <ul>
                {{ range $article.Pages }}
                <li>
                  <a title="{{ .Title }}" href="{{ .RelPermalink }}">
                    <code><time datetime="{{ dateFormat "2006-01-02" .Date }}">{{ .Date.Format "02 Jan 2006" }}</time></code>
                    <span>{{ .Title }}</span>
                  </a>
                </li>
                {{ end }}
              </ul>
              {{ end }}
            {{- end -}}
          {{- end -}}
        {{- end -}}
      </section>
      {{ partial "article-pagination.html" . }}
      </taxonomy-list>
    </main>
  {{ else  }}
    <main>
      <taxonomy-list>
      {{ safeHTML $sidenote }}
      <h1>
        {{ if ne $title "Tags" }}
          <a href="/{{ .Data.Plural }}/">Tags</a>
          <span>&mdash;</span>
          <span>{{ .Title | title }}</span>
        {{ end }}
      </h1>
      <hr>
      <section>
        {{- range $taxonomy := .Site.Taxonomies -}}
          {{- range $tag, $article := $taxonomy -}}
            {{- if eq $tag $title -}}
            <ul>
              {{ range $article.Pages }}
              <li>
                <a title="{{ .Title }}" href="{{ .RelPermalink }}">
                  <code><time datetime="{{ dateFormat "2006-01-02" .Date }}">{{- .Date.Format "02 Jan 2006" -}}</time></code>
                  <span>{{- .Title | markdownify -}}</span>
                </a>
              </li>
              {{ end }}
            </ul>
            {{- end -}}
          {{- end -}}
        {{- end -}}
      </section>
      </taxonomy-list>
    </main>
  {{ end }}
{{ end }}
