{{ define "main" }}
  <main>
    <taxonomy-archive-list>
    {{ $title := .Title }}
    <h1>{{ .Title | markdownify }}</h1>
    <hr>
      <section>
        {{ range $taxonomy := .Site.Taxonomies }}
          {{ $title := .Title }}
          {{ range $tag, $article := $taxonomy }}
            {{ if ne $tag $title }}
              <h2>{{ $tag }}</h2>
              <ul>
                {{ range $article.Pages }}
                  <li>
                    <a
                      title="{{ .Title }}"
                      href="{{ .RelPermalink }}">
                      <code><time>{{- .Date.Format "02 Jan 2006" -}}</time></code>
                      <span>{{- .Title | markdownify -}}</span>
                    </a>
                  </li>
                {{ end }}
              </ul>
            {{ end }}
          {{ end }}
        {{ end }}
      </section>
    </taxonomy-archive-list>
  </main>
{{ end }}
