**/references/*.html
**/webrings/*.html
.hugo_build.lock
/cockpit
/database
/storage
/vendor
config.php
generators/exoference
generators/hugo/content
generators/hugo/public
generators/openring/openring
google[a-z0-9]*.html
openring.html
public/about
public/abstracts
public/archives
public/images
public/index.json
public/posts
public/projects
public/rss.xml
public/sitemap.xml
public/tags
public/videos
quotes.fortune.dat
