/cockpit
/vendor
/app/storage
public/dist
public/tags
public/posts
public/projects
public/archives
public/videos
public/images
public/about
public/rss.xml
public/sitemap.xml
generators/hugo/content
generators/hugo/public
openring
openring.html
quotes.fortune.dat
google[a-z0-9]*.html
