/* ----- Semantic Pact CSS ----- */

*,
*::before,
*::after {
  box-sizing: inherit;
}

:focus {
  outline: none;
}

:target::before {
  content: "";
  display: block;
  height: 5rem;
  margin-top: -5rem;
  visibility: hidden;
}

::selection {
  text-shadow: 0 0 currentColor;
}

::-webkit-selection {
  text-shadow: 0 0 currentColor;
}

::-moz-selection {
  text-shadow: 0 0 currentColor;
}

img::selection {
  background-color: transparent;
}

img::-webkit-selection {
  background-color: transparent;
}

img::-moz-selection {
  background-color: transparent;
}

h1:target,
h2:target,
h3:target {
  text-decoration: underline;
  text-decoration-style: double;
}

a:hover {
  border-bottom: 2px solid;
  text-shadow: 0 0 currentColor;
}

a:hover img {
  box-shadow: 0 8px 32px;
}

h1:target a,
h2:target a,
h3:target a,
a:focus img,
code-block[id^="code-block"]:target language-label a,
:focus:not(article-thumbnail a):not(abstract-thumbnail a):not(figure > a):not(nav column-middle a):not(tile-item a),
:focus-visible:not(article-thumbnail a):not(abstract-thumbnail a):not(figure > a):not(nav column-middle a):not(tile-item a) {
  border-radius: 0.25rem;
  box-shadow: 0 0 0 0.125rem #4992d0;
  outline: none;
}

a:focus {
  border-bottom: 3px solid;
  border-color: #999;
}

a:focus,
h1:target a,
h2:target a,
h3:target a,
code-block[id^="code-block"]:target language-label a {
  background-color: #ffeac2;
  color: #000;
}

html,
body,
p,
ol,
ul,
li,
blockquote,
figure,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  margin: 0;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  overflow-y: scroll;
  padding-top: 4rem;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

figure > a:focus {
  background-color: transparent;
}

code {
  font-size: 1rem;
  font-weight: normal;
  -ms-hyphens: auto;
  -ms-word-break: normal;
  overflow-wrap: break-word;
  word-break: break-word;
}

hr {
  display: block;
  height: 1px;
  margin: 1.5rem 0;
}

img {
  height: auto;
  max-width: 100%;
  border-radius: 0.1em;
  box-shadow: 0 4px 12px 0;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

strong * {
  font-weight: 700;
}

pre {
  border-radius: 0.25rem;
  font-size: 0.875rem;
  max-width: 100%;
  overflow-x: auto;
  padding: 1.25em 1.5em;
  white-space: pre;
  word-wrap: normal;
}

pre code {
  background-color: transparent;
  color: currentColor;
  display: inline-block;
  font-size: 0.875rem;
  min-width: 100%;
  position: relative;
}

button:hover svg,
button-anchor:hover svg {
  stroke-width: 2px;
}

a,
home-page article a,
recent-articles h2 a {
  border-bottom: 1px solid;
  overflow-wrap: break-word;
  text-decoration: none;
}

video {
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 1rem;
  display: inline-block;
  max-width: 100%;
  color: #999;
}

video-container {
  display: block;
  text-align: center;
}

figure {
  text-align: center;
}

ul {
  list-style: none;
}

ul:not(:last-child) {
  margin-bottom: 1rem;
}

dl {
  max-width: 36rem;
  margin: 0 auto;
}

dl:not(:last-child) {
  margin-bottom: 1.5rem;
}

dt {
  font-weight: 700;
}

dt:not(:first-child) {
  margin-top: 1rem;
}

dd {
  margin-left: 2rem;
}

h1,
h2,
h3,
h4 {
  font-size: 100%;
  font-weight: 400;
}

footer,
figcaption,
figcaption code {
  font-size: 95%;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  text-align: center;
}

ul + ul,
li + li {
  margin-top: 0.25rem;
}

input[type="text"],
input[type="email"] {
  height: 2.5rem;
  max-width: 100%;
  width: 100%;
}

textarea {
  height: 2.5rem;
  max-width: 100%;
  min-width: 100%;
  min-height: 8rem;
  resize: vertical;
}

button,
textarea,
input[type="text"],
input[type="email"],
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  appearance: none;
}

input,
button,
textarea,
button-anchor a,
pagination-controller a {
  border-radius: 0.25rem;
  border: 1px solid;
  font-size: 1rem;
  padding: 0.5rem;
}

button,
button-anchor a,
input[type="submit"],
input[type="button"],
pagination-controller a {
  align-items: center;
  border: 0 solid transparent;
  cursor: pointer;
  display: flex;
  height: 2rem;
  justify-content: center;
  padding: 0.25rem 1rem;
}

::file-selector-button,
::-webkit-file-upload-button {
  background-color: #f2f2f2;
  border-color: transparent;
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 0;
  box-shadow: 0 1px 1px #aaa;
  cursor: pointer;
  font-size: 1rem;
  height: 2rem;
  padding: 0.25rem 1rem;
  width: 100%;
  margin: 1rem 0;
  display: block;
}

button svg,
button-anchor a svg {
  stroke-width: 1.5px;
  width: 20px;
  height: 20px;
}

button span,
button-anchor a span {
  padding-left: 0.5rem;
}

ol {
  counter-reset: ol;
}

ol {
  margin-left: 4rem;
  margin-top: 1.5rem;
}

ol li {
  -ms-hyphens: auto;
  -ms-word-break: normal;
  overflow-wrap: break-word;
  word-break: break-word;
  font-size: 1.25rem;
  list-style: none;
}

ol li + li {
  margin-top: 1rem;
}

ol li:before {
  border-radius: 100%;
  border: 1px solid;
  content: counter(ol);
  counter-increment: ol;
  font-size: 1rem;
  font-weight: 700;
  margin-left: -2.75rem;
  margin-top: 0.25rem;
  padding: 0 0.5rem;
  position: absolute;
}

ol:not(:last-child) {
  margin-bottom: 1.5rem;
}

article-references ol li:before {
  border: none;
  content: counter(ol) ".";
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8;
  margin: 0 auto;
  max-width: 1152px;
}

main {
  min-height: 450px;
}

main article {
  min-height: 450px;
}

article > mark:not(:last-child) {
  margin-bottom: 1.5rem;
}

body > footer {
  font-size: 75%;
  text-align: center;
  margin: 0;
}

article p {
  margin-bottom: 1.5rem;
}

article ul {
  margin-left: 2rem;
}

article p,
article ul li {
  font-size: 1.25rem;
}

/* ----- Tables ----- */

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.5rem;
  width: 100%;
}

table,
table code {
  font-size: 1.15rem;
}

table th {
  font-weight: 700;
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: 0.05rem;
  padding: 0.4rem;
}

table td,
table th {
  vertical-align: top;
  padding: 0;
  padding: 0.4rem;
  min-width: 8rem;
}

table td:not([align]),
table th:not([align]) {
  text-align: left;
}

@media (max-width: 550px) {
  table {
    table-layout: fixed;
  }
}

/* ----- Fonts ----- */

ol li,
article p,
article h1,
article h2,
article h3,
article ul li,
article-webring h3,
side-note-aside label,
margin-note-aside label,
article-more-content h3 {
  font-family: Charter, Georgia, "Book Antiqua", serif;
}

body,
input,
button,
select,
textarea,
side-note-aside,
margin-note-aside,
blockquote-footer,
table-contents h2,
home-page article p,
table-contents ul li,
home-page article h1,
home-page article h2,
resume-page article p,
resume-page article h1,
contact-page article p,
contact-page article h1,
home-page margin-note-aside label {
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

pre,
code,
blockquote p,
diagram-container svg {
  font-family: "Fira Code", "Lucida Console", "Andale Mono", monospace;
}

h1 {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  line-height: 1.25;
}

h2 {
  font-size: 1.75rem;
  margin-bottom: 0.75rem;
  margin-top: 1.15rem;
  line-height: 1.5;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.5;
}

blockquote {
  padding: 0 1.5em;
  margin-left: 5%;
  margin-bottom: 1.5rem;
}

blockquote-footer {
  font-size: 85%;
  text-align: right;
  display: block;
  margin-top: 1rem;
}

home-page-intro {
  padding: 1rem;
  display: block;
  margin-bottom: 1rem;
}

home-page label {
  display: inline-block !important;
  line-height: 1.125;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

home-page article > h1 {
  font-size: 2rem;
  line-height: 1.125;
  margin-bottom: 0;
}

home-page article > h1 em {
  font-style: normal;
}

home-page article > h2 {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
}

home-page article p,
contact-page article p {
  font-size: 100%;
}

home-page-posts > a,
home-page-projects > a {
  text-decoration: none;
  text-align: center;
  display: block;
  text-transform: uppercase;
}

home-page-posts > a svg,
home-page-projects > a svg {
  display: inline-block;
  vertical-align: middle;
}

home-page recent-projects article-thumbnail {
  flex: 2;
}

recent-projects article-thumbnail {
  flex: none;
}

article-subsection h1,
contact-page article h1,
abstracts-page article-list h1 {
  font-size: 2rem;
}

fortune-quote b {
  display: block;
  margin-bottom: 0.25rem;
}

contact-page form label {
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  margin: 0.5rem 0;
  display: block;
}

contact-page form textarea {
  margin-bottom: 1rem;
}

contact-page field-set {
  display: flex;
  margin: 0;
  padding: 0;
}

contact-page form field-set section {
  flex: 1;
}

contact-page form field-set section + section {
  margin-left: 0.75rem;
}

contact-page input[name="agree"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}

contact-page aside {
  border-radius: 0.5rem;
  border: 1px solid;
  margin-bottom: 1rem;
  padding: 1rem;
}

contact-page aside p {
  margin: 0;
}

article,
body > footer,
article-list,
taxonomy-list,
article-webring,
article-comments,
article-references,
article-subsection,
article-meta-bottom,
article-archive-list,
taxonomy-archive-list,
article-more-content {
  max-width: 62%;
  padding: 1.5rem;
  display: block;
  margin: 0 auto;
  transform: translateY(0);
}

@media screen and (max-width: 768px) {
  article,
  body > footer,
  article-list,
  taxonomy-list,
  article-webring,
  article-comments,
  article-references,
  article-subsection,
  article-meta-bottom,
  article-archive-list,
  taxonomy-archive-list,
  article-more-content {
    max-width: 100%;
  }
}

taxonomy-list h2,
article-webring h2,
article-comments h2,
article-references h2,
article-more-content h2,
taxonomy-archive-list h2 {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  letter-spacing: 0.1rem;
}

article-list {
  margin-top: 1rem;
}

article-list recent-abstracts {
  display: flex;
  margin: 0 -0.75rem;
}

abstracts-page article-list {
  margin-top: 0;
}

article-more-content li {
  display: flex;
  align-items: baseline;
}

article-more-content li h3 {
  flex: 1;
  padding-right: 1rem;
}

article-more-content ul + ul {
  margin-top: 1.5rem;
}

article header {
  margin-bottom: 1.5rem;
}

article-summary-meta {
  margin-bottom: 0.75rem;
}

article header,
article-summary-meta {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

article header a {
  text-decoration: underline;
}

article header aside {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

abstract-summary-meta svg,
article-summary-meta svg,
article header svg {
  height: 1rem;
  margin-right: 0.35rem;
  width: 1rem;
  display: inline-block;
  vertical-align: middle;
}

article-summary-meta *:not(svg),
article header aside *:not(svg) {
  margin-right: 0.5rem;
}

abstract-summary-meta footer {
  text-align: inherit;
}

taxonomy-list > h1 {
  font-size: 2rem;
  font-variant: small-caps;
  letter-spacing: 0.05rem;
  text-transform: lowercase;
  margin: 0;
}

taxonomy-list hr {
  margin: 1rem 0;
}

taxonomy-list li,
taxonomy-archive-list li,
article-archive-list li {
  line-height: 2.5;
}

article-archive-list ul,
taxonomy-list > section ul,
taxonomy-archive-list > section ul {
  margin-bottom: 1rem;
  margin-left: -0.5rem;
}

taxonomy-archive-list h1,
article-archive-list h1 {
  font-size: 1.5rem;
  line-height: 1.125;
  margin-bottom: 1rem;
}

taxonomy-list time,
taxonomy-archive-list time,
article-archive-list time {
  padding-right: 1rem;
  text-transform: uppercase;
  flex: initial;
}

taxonomy-list ul a,
taxonomy-archive-list ul a,
article-archive-list ul a {
  display: flex;
  padding: 0 0.5rem;
  align-items: baseline;
}

taxonomy-archive-list span,
article-archive-list span {
  flex: 3;
  line-height: 1.5;
}

article-archive-link a {
  text-decoration: none;
  text-align: center;
  display: block;
  text-transform: uppercase;
}

article-archive-link a svg {
  vertical-align: bottom;
}

article-webring,
article-comments,
article-references,
article-meta-bottom,
article-more-content {
  padding: 2.5rem 1.5rem;
}

article-webring button-anchor {
  float: right;
}

article-webring li + li {
  margin-top: 1.5rem;
}

article-meta-bottom {
  text-align: right;
}

article-card {
  align-items: center;
  display: flex;
  margin-bottom: 3rem;
}

article-card h2 {
  font-size: 1.125rem;
  margin: 0;
}

article-thumbnail {
  display: block;
  flex: 2;
  margin-right: 2rem;
  text-align: center;
}

article-summary {
  flex: 3;
}

article-summary p {
  margin-bottom: 0.75rem;
}

article-summary h2 {
  font-weight: 700;
  margin-bottom: 0.125rem;
}

abstract-card {
  flex: 1;
  margin: 0.75rem;
  text-align: center;
}

abstract-card h2 {
  font-weight: 700;
  font-size: 100%;
}

pagination-controller nav {
  display: flex;
  margin-bottom: 1.5rem;
}

pagination-controller ul {
  display: flex;
  justify-content: center;
  margin: 0;
  flex-grow: 1;
}

pagination-controller li {
  margin: 0;
}

pagination-controller [data-pagination-current] {
  font-weight: 700;
}

pagination-ellipsis {
  padding: 0 0.5rem;
}

pagination-ellipsis,
pagination-controller a {
  align-items: center;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5rem;
  justify-content: center;
  margin: 0.25rem;
}

table-contents {
  clear: right;
  float: right;
  font-size: 1rem;
  letter-spacing: 0.01rem;
  margin-bottom: 1rem;
  margin-right: -22vw;
  max-width: 22em;
  overflow-wrap: break-word;
  padding-right: 1.125rem;
  user-select: none;
  width: 18vw;
  word-break: break-word;
}

table-contents h2 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin-bottom: 0.25rem;
  text-transform: uppercase;
  line-height: 1.5;
}

table-contents a {
  display: block;
  font-size: 0.8125rem;
  padding: 0.125rem 0 0.125rem 0.5rem;
}

table-contents ul {
  margin-left: -0.5rem;
}

table-contents li + li {
  margin-top: 0.25rem;
}

code-block {
  display: block;
  margin-bottom: 1.5rem;
}

code-block header {
  margin: -1rem 2rem 0 2rem;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

code-block div:focus-within {
  outline: 0.25rem solid #ff8383;
  outline-offset: -0.15rem;
}

code-block language-label {
  line-height: 1.25;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  text-transform: uppercase;
}

code-block language-label code {
  font-size: 85%;
  padding: 0 0.5rem;
}

tile-set {
  align-items: stretch;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  margin-bottom: -0.75rem;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
  min-height: min-content;
}

tile-item {
  align-items: stretch;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  min-height: min-content;
  padding: 0.75rem;
  display: flex;
}

small-caps {
  font-variant: small-caps;
  letter-spacing: 0.05rem;
  line-height: 0;
  text-transform: lowercase;
}

small-caps[intro] {
  font-size: 2rem !important;
  text-transform: none;
}

html[data-page="resume"]::-webkit-scrollbar {
  height: 0;
  width: 0;
  scrollbar-width: none;
}

body[data-page="resume"] {
  margin: 0;
  max-width: 100%;
}

resume-page {
  display: flex;
  min-height: 100vh;
  margin-top: -4rem;
}

resume-page column-left {
  background-image: url("/images/shells.jpg");
  background-position: center;
  background-size: cover;
  display: block;
  flex: none;
  min-height: 50vh;
  padding: 0.75rem;
  width: 33%;
}

resume-page column-left p a {
  font-size: 0.75rem;
  border-bottom: none;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 1.5rem;
}

resume-page column-left h1 {
  font-size: 2rem;
  display: inline-block;
  border-bottom: 1px solid transparent;
  margin-bottom: 1rem;
}

resume-page column-left h1 a {
  display: inline-block;
}

resume-page column-left section {
  text-align: center;
  padding: 2rem 0;
}

resume-page column-right {
  display: block;
  max-height: 100vh;
  overflow: auto;
  width: 100%;
}

resume-page column-right main {
  max-width: 1152px;
  padding: 0 3rem 0 3rem;
}

resume-page column-right h1 {
  font-size: 70%;
  font-weight: 700;
  letter-spacing: 0.05rem;
  margin-bottom: 0.25rem;
  text-transform: uppercase;
  line-height: 1.75;
}

resume-page column-section {
  display: flex;
  margin-bottom: -0.75rem;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
}

resume-page column-stack,
resume-page column-questions {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem;
}

resume-page article {
  display: block;
  margin: 2.5rem 0 0 0;
  max-width: 100%;
  padding: 0;
}

resume-page article p {
  margin: 0;
  font-size: 0.75rem;
}

resume-page article > section h1 {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: normal;
  margin-bottom: 0.75rem;
  text-transform: none;
}

resume-page timeline-item {
  display: flex;
  position: relative;
  margin-left: 0.35rem;
  padding-bottom: 2rem;
}

resume-page timeline-item aside {
  position: absolute;
  background: #b3cfe6;
  border: 3px solid #fff;
  border-radius: 100%;
  content: "";
  display: block;
  height: 0.8rem;
  left: -0.35rem;
  top: 1.2rem;
  width: 0.8rem;
}

resume-page timeline-item:before {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

resume-page timeline-content {
  padding: 1rem 0 0 2rem;
}

upload-box h1,
upload-box h2 {
  text-align: center;
}

upload-box header {
  display: flex;
  align-items: center;
}

upload-box header p {
  margin: 0 1rem;
}

upload-box footer {
  display: flex;
}

upload-box footer,
upload-box header {
  padding: 1rem;
  margin: 0;
}

upload-box form,
upload-box footer,
upload-box header {
  border-color: #ddd;
  border-style: solid;
  border-width: 1px;
}

upload-box form {
  border-radius: 0.5rem;
}

upload-box input[type="file"] {
  border: 1px dashed #999;
  display: block;
  padding: 10rem 2rem;
  text-align-last: center;
  width: 100%;
}

/* ----- Attributes ----- */

[hidden] {
  display: none;
}

[data-disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

/* ----- Context Menu ----- */

input[type="checkbox"]:checked ~ context-menu {
  display: block;
}

context-menu[right] {
  left: auto;
  right: 0;
}

context-menu[list] {
  top: 0.5rem;
  right: 0.5rem;
}

context-menu {
  display: none;
  left: 0;
  min-width: 6.25rem;
  position: absolute;
  top: 100%;
  z-index: 20;
}

context-menu-content {
  border-radius: 0.25rem;
  border: 1px solid;
  display: block;
}

nav.hide {
  top: -5rem !important;
}

body > nav {
  margin: 0 auto;
  left: 0;
  min-height: 4rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 30;
  -webkit-transition: top 0.15s;
  -o-transition: top 0.15s;
  transition: top 0.15s;
}

body > nav section {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1152px;
}

nav column-left,
nav column-right,
nav column-middle {
  display: inline-flex;
  align-items: center;
}

nav column-middle {
  flex: 3;
  justify-content: center;
  width: 100%;
}

nav column-left {
  justify-content: flex-end;
}

nav column-right {
  justify-content: flex-start;
}

nav column-left,
nav column-right {
  flex: 1;
  margin: 0 1rem;
}

nav column-left button-repo {
  margin-right: 0.75rem;
}

nav column-middle context-menu a {
  padding: 0.65rem 1rem;
  display: block;
  width: 100%;
  line-height: 1.25;
}

nav column-middle context-menu svg {
  display: none;
}

nav column-middle > a {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  height: 4rem;
  justify-content: center;
  line-height: 1.5;
  padding: 0 1.5rem;
  text-align: center;
}

nav column-middle span:before {
  content: attr(title);
  display: block;
  font-weight: 700;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

nav column-middle context-menu button {
  height: auto;
  display: inline;
  background: transparent;
  padding: 0.65rem 1rem;
  width: 100%;
  text-align: left;
  line-height: 1.25;
}

nav column-middle context-menu button span {
  padding: 0;
}

nav column-middle > a[data-active],
nav column-middle context-menu a[data-active] {
  font-weight: 700;
}

nav column-middle more-button {
  -webkit-tap-highlight-color: transparent;
  align-items: center;
  display: flex;
  height: 4rem;
  justify-content: center;
  position: relative;
}

nav column-middle more-button label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 0 1.5rem;
  line-height: 1.5;
}

nav column-middle > a span,
nav column-middle more-button label span {
  margin-top: 0.15rem;
  font-size: 0.75rem;
}

nav column-middle a:hover svg,
nav column-middle more-button:hover svg {
  fill: #ffc966;
}

/* ----- Responsive ----- */

@media screen and (max-width: 1152px) {
  column-left button-repo {
    display: none;
  }
}

@media screen and (max-width: 824px) {
  nav column-left,
  nav column-right {
    display: none;
  }
  nav column-middle > a,
  nav column-middle context-menu-container {
    width: 20%;
  }
}

@media screen and (max-width: 768px) {
  table-contents {
    display: none;
  }
  home-page article-card {
    clear: both;
  }
  home-page margin-note {
    margin: 0 0 1.5rem 0 !important;
  }
  recent-posts article-card {
    display: block;
  }
  recent-posts article-thumbnail {
    margin: 0 0 1.5rem 0;
  }
  resume-page {
    display: block;
  }
  resume-page column-left {
    width: 100%;
  }
  resume-page column-right {
    overflow: visible;
  }
}

@media screen and (max-width: 624px) {
  article-more-content li {
    display: block;
  }
  pagination-controller ul li:not(:first-child):not(:last-child) {
    display: none;
  }
  article-list recent-abstracts {
    display: block;
  }
  article-list recent-abstracts abstract-card {
    display: block;
    margin: 0 0 2rem 0;
  }
  resume-page column-section {
    display: block;
  }
}

@media screen and (max-width: 524px) {
  nav column-middle > a[data-hidden] {
    display: none;
  }
  contact-page field-set {
    display: block;
  }
  contact-page form field-set section + section {
    margin-left: 0;
  }
}

@media screen and (max-width: 424px) {
  recent-projects article-card {
    display: block;
  }
  recent-projects article-thumbnail {
    margin: 0 0 1.5rem 0;
  }
}

/* ----- Tufte CSS: https://edwardtufte.github.io/tufte-css/ ----- */

body {
  counter-reset: sidenote-counter;
}

side-note[left],
margin-note[left] {
  float: left;
  clear: left;
  margin-left: -40%;
  margin-left: -22vw;
}

side-note[right],
margin-note[right] {
  float: right;
  clear: right;
  margin-right: -40%;
  margin-right: -22vw;
}

side-note[left],
side-note[right],
margin-note[left],
margin-note[right] {
  width: 32%;
  width: 18vw;
  margin-bottom: 1rem;
  font-size: 1rem;
  vertical-align: baseline;
  position: relative;
}

side-note,
margin-note {
  -ms-hyphens: auto;
  -ms-word-break: normal;
  overflow-wrap: break-word;
  word-break: break-word;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  letter-spacing: 0.01rem;
}

side-note:hover,
margin-note:hover {
  -webkit-user-select: inherit;
  -ms-user-select: inherit;
  user-select: inherit;
}

@media (min-width: 769px) {
  side-note[right],
  margin-note[right] {
    padding-right: 1.125em;
  }
  side-note[left],
  margin-note[left] {
    text-align: right;
    padding-left: 1.125em;
  }
  side-note[left],
  side-note[right],
  margin-note[left],
  margin-note[right] {
    max-width: 22em;
  }
}
@media (min-width: 2000px) {
  side-note[left],
  margin-note[left] {
    margin-left: -28em;
  }
  side-note[right],
  margin-note[right] {
    margin-right: -28em;
  }
}

side-note-aside label {
  display: inline;
}

side-note-aside input[name="toggle"],
margin-note-aside input[name="toggle"] {
  display: none;
}

side-note-aside label {
  counter-increment: sidenote-counter;
}

side-note:before {
  content: counter(sidenote-counter) " ";
}

side-note-aside label:after {
  content: counter(sidenote-counter);
  left: 0.1rem;
}

side-note-aside label:after,
side-note:before,
margin-note-aside label:after {
  position: relative;
  vertical-align: baseline;
  font-size: 0.7rem;
  top: -0.5rem;
}

side-note-aside mark,
margin-note-aside mark {
  background-color: transparent;
  color: unset;
}

side-note[image],
margin-note[image] {
  text-align: center;
}

side-note[image] > a,
side-note[image] a:focus,
margin-note[image] > a,
margin-note[image] a:focus {
  border-bottom: 1px solid transparent !important;
  background-color: transparent !important;
}

@media (max-width: 768px) {
  side-note-aside input[name="toggle"]:checked + side-note,
  margin-note-aside input[name="toggle"]:checked + margin-note {
    display: block;
    float: left;
    left: 1rem;
    clear: both;
    width: 95%;
    margin: 1rem 2.5%;
    vertical-align: baseline;
    position: relative;
  }
  side-note-aside input[name="toggle"]:checked + side-note[image] a,
  margin-note-aside input[name="toggle"]:checked + margin-note[image] a {
    display: block;
  }
  side-note label,
  margin-note label {
    cursor: pointer;
  }
  side-note,
  margin-note {
    display: none;
  }
  side-note-aside label,
  margin-note-aside label {
    border-bottom: 1px dashed #999;
  }
  margin-note-aside label:after {
    content: "\0002B";
    font-weight: 700;
  }
  side-note[image],
  margin-note[image] {
    left: 0 !important;
    margin: 1rem 0 !important;
    width: 100% !important;
  }
  side-note mark {
    background-color: transparent !important;
    color: unset !important;
  }
}

/* ----- Side Notes Float Clear ----- */

@media (max-width: 768px) {
  code-block {
    clear: both;
  }
}

/* ----- Embed Friendly ----- */

@media (max-height: 16rem) {
  html {
    padding: 0;
  }
  nav {
    display: none;
  }
}

/* ----- Isso Comments ----- */
/* https://raw.githubusercontent.com/posativ/isso/master/isso/css/isso.css */

#isso-thread label {
  margin: 0 0 0.5rem 0;
  display: block;
}

#isso-thread div.text p:not(:last-child) {
  margin-bottom: 1.5rem;
}

#isso-thread .isso-text a {
  color: #000;
}

#isso-thread h4 {
  color: #555;
  margin-bottom: 1rem;
}

#isso-thread .isso-feedlink {
  float: right;
}

#isso-thread .isso-feedlink a {
  font-size: 85%;
}

#isso-root .preview .isso-comment {
  padding-top: 0;
  margin: 0;
}

.isso-avatar {
  display: none !important;
}

.isso-comment blockquote {
  margin: 1rem 0 !important;
}

.isso-comment blockquote p {
  font-size: 0.975rem !important;
  margin: 0 !important;
  border-left: 3px solid #999;
  padding-left: 0.5rem;
}

.isso-comment .isso-follow-up {
  padding-left: 2rem;
}

.isso-comment .isso-comment-header,
.isso-comment .isso-comment-footer {
  font-size: 0.95rem;
}

.isso-permalink {
  color: #555;
}

.isso-spacer {
  padding: 0 6px;
  color: #999;
}

.isso-note {
  float: right;
}

.isso-author {
  font-weight: 700;
  color: #555;
}

.isso-comment > div.text-wrapper > div.text p:last-child {
  margin-bottom: 0.5rem;
}

.isso-comment h1,
.isso-comment h2,
.isso-comment h3,
.isso-comment h4,
.isso-comment h5,
.isso-comment h6 {
  font-size: 130%;
  font-weight: 700;
}

.isso-comment div.textarea-wrapper .textarea,
.isso-comment div.textarea-wrapper .preview {
  width: 100%;
  margin: 0.5rem 0 0.75rem 0;
}

.isso-comment .isso-comment-footer {
  clear: left;
  color: #555;
  margin: 0.5rem 0 0.75rem 0;
}

.isso-feedlink {
  font-weight: 700;
  text-decoration: none;
}

.isso-comment > .isso-text-wrapper {
  margin-bottom: 1.5rem;
}

.isso-comment .isso-comment-footer a {
  border: none;
  font-weight: 700;
  padding: 0.25rem 0.5rem;
  background-color: #f2f2f2;
  box-shadow: 0 1px 1px #aaa;
  border-radius: 0.25rem;
}

.isso-votes,
.isso-upvote,
.isso-downvote,
.isso-comment-footer .isso-spacer {
  display: none;
}

.isso-postbox {
  max-width: 68rem;
  margin: 0 auto 3rem;
  clear: right;
}

.isso-form-wrapper {
  display: block;
  padding: 0;
}

.isso-textarea-wrapper {
  display: flex;
}

.isso-comment textarea,
.isso-postbox textarea,
.isso-postbox .isso-preview {
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #fafafa;
  min-height: 150px;
  line-height: inherit;
}

.isso-input-wrapper {
  display: inline-block;
  position: relative;
  padding-bottom: 0.6rem;
  width: 33.33%;
}

.isso-edit,
.isso-cancel,
.isso-delete {
  margin-right: 0.5rem;
}

.isso-input-wrapper:nth-child(-n + 2) {
  padding-right: 0.6rem;
}

.isso-post-action {
  display: inline-block;
  float: right;
  padding-left: 0.5rem;
}

.isso-post-action input[name="edit"],
.isso-post-action input[name="preview"],
.isso-post-action input[type="submit"] {
  width: 6rem;
  margin-top: 0.5rem;
}

.isso-preview,
.isso-post-action input[name="edit"],
.isso-postbox.isso-preview-mode > .isso-form-wrapper input[name="preview"],
.isso-postbox.isso-preview-mode > .isso-form-wrapper .isso-textarea {
  display: none;
}

.isso-postbox.isso-preview-mode > .isso-form-wrapper .isso-preview {
  display: inline-block;
  width: 100%;
}

.isso-postbox.isso-preview-mode > .isso-form-wrapper input[name="edit"] {
  display: inline;
}

.isso-preview {
  background-color: #f8f8f8;
  background: repeating-linear-gradient(
    -45deg,
    #f8f8f8,
    #f8f8f8 10px,
    #fff 10px,
    #fff 20px
  );
}

.isso-postbox .notification-section {
  display: none;
  padding-bottom: 10px;
}

.isso-postbox input[name="notification"] {
  margin-right: 0.5rem;
}

@media screen and (max-width: 600px) {
  .isso-input-wrapper {
    display: inline-block;
    width: 100%;
    margin: 0 0 0.3rem;
  }
  .isso-input-wrapper:nth-child(-n + 2) {
    padding-right: 0;
  }
}

/* ----- Colors ----- */

::selection {
  color: #fff;
  background-color: #000;
}

::-webkit-selection {
  color: #fff;
  background-color: #000;
}

::-moz-selection {
  color: #fff;
  background-color: #000;
}

a:hover {
  border-color: #999;
}

a:hover img {
  color: #999;
}

html {
  background-color: #fcfcfc;
}

body {
  color: #222;
}

body > footer a {
  color: #111;
}

body .medium-zoom-overlay {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9);
}

img {
  color: #ccc;
}

hr {
  background-color: #ddd;
}

input,
textarea {
  background-color: #f9f9f9;
  border-color: #ccc;
}

button,
button-anchor a,
input[type="submit"],
input[type="button"],
pagination-controller a {
  background-color: #f2f2f2;
  box-shadow: 0 1px 1px #aaa;
}

button:hover,
button-anchor a:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  background-color: #eee;
}

button:hover svg,
button-anchor:hover svg {
  color: #014cc6;
  fill: #d1ebff;
}

a,
home-page article a,
recent-articles h2 a {
  border-color: #999;
  color: #014cc6;
}

article a,
article-subsection a,
article-webring h2 a,
article-comments h2 a,
article-references h2 a,
article-more-content h2 a {
  color: #000;
}

home-page article > h1 em {
  color: #f05a60;
}

contact-page aside {
  background-color: #effaef;
  border-color: #28d263;
}

article-archive-list li:hover,
taxonomy-list > section ul li:hover,
taxonomy-archive-list > section ul li:hover {
  background-color: #f1f1f1;
}

pagination-controller [data-pagination-current] {
  background-color: #0961aa;
  border-color: #0961aa;
  color: #fff;
}

pagination-ellipsis {
  color: #b5b5b5;
}

pagination-controller a {
  border-color: #dbdbdb !important;
}

pagination-controller a:hover {
  border-color: #b5b5b5;
}

table-contents li:hover {
  background-color: #f1f1f1;
}

resume-page column-left {
  background-color: #4587c1;
}

resume-page column-left h1,
resume-page column-left p a,
resume-page column-left h1 a {
  color: #fff;
}

resume-page article > section h1 {
  color: #245a8a;
}

resume-page timeline-item:before {
  background-color: #dbdbdb;
}

context-menu-content {
  background-color: #fafafa;
  border-color: #ddd;
  box-shadow: 0 0.5rem 1rem -0.125rem #0a0a0a1a, 0 0px 0 1px #0a0a0a05;
}

body > nav {
  background-color: #fcfcfc;
  box-shadow: 0 4px 12px 0 #0000000d;
}

nav column-middle > a,
nav column-middle more-button,
nav column-middle context-menu a,
nav column-middle context-menu button {
  color: #555;
}

nav column-middle > a:hover,
nav column-middle more-button:hover {
  color: #000;
}

nav column-middle context-menu a:hover,
nav column-middle context-menu button:hover {
  background-color: #ffeac2;
  color: #000;
}

nav column-middle > a[data-active] svg {
  fill: #d1ebff;
}

nav column-middle > a[data-active],
nav column-middle context-menu a[data-active] {
  color: #014cc6;
}

input,
button,
textarea,
input[type="submit"],
input[type="button"],
button-anchor a,
home-page label,
home-page article > h1,
pagination-controller a {
  color: #363636;
}

footer,
footer a,
body > footer,
figcaption,
figcaption code,
article-archive-list time,
article-meta-bottom a,
article-meta-bottom,
article header a,
article header,
article-more-content time,
article-webring time,
article-summary-meta,
blockquote-footer,
home-page article > h2,
home-page-intro span,
margin-note[left],
margin-note[right],
side-note[left],
side-note[right],
table-contents a,
table-contents h2,
taxonomy-archive-list time,
taxonomy-list time,
video-container footer a {
  color: #4a4a4a;
}

article > mark,
margin-note-aside:hover label span,
margin-note-aside:hover margin-note a,
margin-note-aside:hover margin-note mark,
side-note-aside:hover label span,
side-note-aside:hover side-note a,
side-note-aside:hover side-note mark {
  background-color: #ffeac2;
  color: #000;
}

side-note-aside:hover side-note a,
margin-note-aside:hover margin-note a {
  border-color: #1e90ff;
}

[data-danger] {
  color: #b30000;
}

[data-contact-required] {
  border-color: #b30000;
}

/* ----- Excludes ----- */

hr,
h1 a,
h2 a,
h3 a,
figure > a,
main a:focus,
footer a:focus,
figure > a:focus,
figure > a:hover,
abstract-thumbnail a,
abstract-thumbnail a:hover,
article-archive-link a,
article-archive-link a:hover,
article-archive-list ul a,
article-archive-list ul a:hover,
article-card article-thumbnail a,
article-card article-thumbnail a:hover,
article header a,
article header a:hover,
article-webring a,
button-anchor a:focus,
button-anchor a:hover,
code-block language-label a,
code-block language-label a:hover,
contact-page field-set,
home-page home-page-posts > a,
home-page home-page-posts > a:hover,
home-page home-page-projects > a,
home-page home-page-projects > a:hover,
nav column-middle > a,
nav column-middle > a:focus,
nav column-middle > a:hover,
nav column-middle context-menu a,
nav column-middle context-menu a:focus,
nav column-middle context-menu a:hover,
pagination-controller a,
pagination-controller a:focus,
pagination-controller a:hover,
resume-page a,
resume-page a:focus,
resume-page a:hover,
table-contents a,
table-contents a:hover,
taxonomy-archive-list section ul a,
taxonomy-archive-list section ul a:hover,
taxonomy-list section ul a,
taxonomy-list section ul a:hover,
article-more-content a {
  border: none;
}

side-note[image] > a:focus,
side-note[image] > a:focus-visible,
margin-note[image] > a:focus,
margin-note[image] > a:focus-visible,
nav column-middle > a:focus,
nav column-middle > a:focus-visible,
nav column-middle context-menu a:focus,
nav column-middle context-menu a:focus-visible,
nav column-middle context-menu button,
nav column-middle context-menu button:focus,
nav column-middle context-menu button:focus-visible {
  box-shadow: none;
}
