/* dark theme */

html { background-color: #001f2c; }
a { color: #75b2f0; }
a:focus, a:focus span { color: #fff; background-color: #005d85; }
a:hover img { outline: 6px dashed #75b2f0; box-shadow: none; }
a:focus img { outline: 9px dashed #75b2f0; }
a.navbar-item:hover { color: #fff !important; }
img { box-shadow: none; filter: brightness(75%); }
body, .document h1 a, .document h2 a, .document h3 a, nav#TableOfContents a { color: #cad6e2; }
.sans-serif a, .serif a { color: #eee; }
.article__list li:hover, nav#TableOfContents li:hover { background-color: #002e42; }
.leftnote, .rightnote, mark { color: #a9bdd0; }
.medium-zoom-overlay { background-color: #001f2c; background-color: rgba(0, 31, 44, .9); }
.navbar-item, .subtitle, .has-text-grey-dark { color: #ccc !important; }
.navbar-mobile .navbar__active, .navbar-end .navbar__active { color: #75b2f0 !important; }
.dropdown-content { background-color: #002e42; border: 1px solid #00405c; }
.dropdown-content a.navbar-item:hover, .dropdown-content .theme-toggle-button:hover { color: #fff; background-color: #005d85; }
.dropdown-content .navbar__active { background-color: #004766; }
.has-text-danger { color: #ff8f93 !important; }
.has-text-primary { color: #a6c9e8 !important; }
.footer a { color: #bbb; }
.footer { padding: 1.5rem; }
.navbar { box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5); }
.navbar, .navbar-menu { background-color: #002e42; background-color: rgba(0, 46, 66, 0.95); }
a.navbar-item:focus, a.navbar-item:hover, .navbar-item:hover label { color: #fff; }
.navbar__icon:hover svg, .navbar__icon:hover svg, .navbar__icon:hover label svg { fill: #0073ca; }
.title, .content h1, .content h2, .content h3 { color: #ddd; }
.button.is-link.is-outlined, .button.is-success.is-outlined { border-color: #cad6e2; color: #cad6e2; border-width: 1px; }
.input, .textarea { background-color: #002e42; border-color: transparent; color: white; }
.item__box { color: #ddd; background-color: #004766; }
.item__box:hover, .item__box:hover svg, .item__box:focus svg { color: #fff; }
.message__success { background-color: #55a1ec; border: 1px solid #1259a1;  color: black; }
.pagination-link.is-current { background-color: #004766; border-color: #00608a; color: #fff !important; }
.pagination-previous, .pagination-next, .pagination-link { border-color: #002e42; color: #cad6e2; min-width: 2.25em; }
.pagination-previous:hover,
.pagination-next:hover, .pagination-link:hover, .pagination-previous.disabled, .pagination-next.disabled { color: #cad6e2; }
.pagination-previous.disabled, .pagination-next.disabled { background-color: #002e42; border-color: #002e42; color: #fff; }
@media screen and (min-width: 1088px) { .navbar__active { color: #fff !important; } }
@media screen and (max-width: 1087px) { .theme-toggle-button { color: #cad6e2; } }
#isso-thread > h4 { color: #b7c7d7; }
#isso-thread .textarea.placeholder { color: #cad6e2; }
.isso-postbox > .form-wrapper > .auth-section .input-wrapper input { background-color: #002e42; color: white; }
.isso-postbox > .form-wrapper .textarea, .isso-postbox > .form-wrapper .preview { background-color: #002e42; }
.isso-comment > div.text-wrapper > .isso-comment-header .author { color: #fff; }
.isso-comment-footer .upvote svg, .isso-comment-footer .downvote svg { fill: white };
input::placeholder, textarea::placeholder { color: #cad6e2; }
input::-moz-placeholder, textarea::-moz-placeholder { color: #cad6e2; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #cad6e2; }
input:-moz-placeholder, textarea:-moz-placeholder { color: #cad6e2; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #cad6e2; }
.isso-postbox > .form-wrapper > .auth-section .post-action > input { border: 1px solid #557181; background-color: transparent; color: white; }
.isso-postbox>.form-wrapper .preview { background-color: #001f2c; background: repeating-linear-gradient(-45deg,#001f2c,#001f2c 10px,#002e42 10px,#002e42 20px); }
.isso-comment > div.text-wrapper > .isso-comment-header .permalink { color: #ccc; }
.isso-comment > div.text-wrapper > .text a { color: #cad6e2; }
.is-success:focus, .is-link:focus { background-color: #75b2f0 !important; color: #121212 !important; border-color: #75b2f0 !important; }
.timeline .timeline-item .timeline-marker { border: 3px solid #001f2c !important; }
.sidenote-container:hover .sidenote-mark span, .sidenote-container:hover .sidenote mark,
.marginnote-container:hover .marginnote-mark span, .marginnote-container:hover .marginnote mark,
.sidenote-container:hover .sidenote a, .marginnote-container:hover .marginnote a { color: #fcfcfc; background-color: #005d85; }
