/* Dark Semantic CSS */

::selection {
  color: #000;
  background-color: #999;
}

::-webkit-selection {
  color: #000;
  background-color: #999;
}

::-moz-selection {
  color: #000;
  background-color: #999;
}

a {
  color: #75b2f0;
}
a:focus {
  color: #fff;
  background-color: #005d85;
}
a:hover img {
  outline: 6px dashed #75b2f0;
  box-shadow: none;
}
a:focus img {
  outline: 9px dashed #75b2f0;
}

img {
  box-shadow: none;
  filter: brightness(75%);
}

html {
  background-color: #001f2c;
}

body,
resume-page article > section h1 {
  color: #cad6e2;
}

body .medium-zoom-overlay {
  background-color: #001f2c;
  background-color: rgba(0, 31, 44, 0.9);
}

video {
  color: transparent;
}

body > nav {
  background-color: #002e42;
  box-shadow: 0 0px 10px 0 #000;
}

input,
textarea {
  background-color: #002e42;
  border-color: transparent;
  color: #fff;
}

article a,
body > footer a,
article-webring h2 a,
article-subsection a,
article-comments h2 a,
article-references h2 a,
article-more-content h2 a {
  color: #eee;
}

button,
button-anchor a,
pagination-controller a,
input[type="submit"],
input[type="button"] {
  color: #fff;
  background-color: #004766;
  box-shadow: none;
}

button:hover,
button-anchor a:hover,
pagination-controller a,
input[type="submit"]:hover,
input[type="button"]:hover {
  background-color: #005980;
}

button:hover svg,
button-anchor:hover svg {
  color: #fff;
  fill: #0961aa;
}

nav column-middle > a,
nav column-middle > a[data-active],
nav column-middle context-menu a,
nav column-middle context-menu a[data-active],
nav column-middle context-menu button,
nav column-middle more-button {
  color: #f1f1f1;
}

nav column-middle > a[data-active] svg {
  fill: #0961aa;
}

a,
home-page article a,
recent-articles h2 a {
  color: #75b2f0;
}

article > mark,
margin-note-aside:hover label span,
margin-note-aside:hover margin-note a,
margin-note-aside:hover margin-note mark,
side-note-aside:hover label span,
side-note-aside:hover side-note a,
side-note-aside:hover side-note mark {
  background-color: #042f52;
  color: #fff;
}

input,
button,
textarea,
input[type="submit"],
input[type="button"],
button-anchor a,
home-page label,
home-page article > h1,
pagination-controller a {
  color: #fff;
}

footer,
footer a,
body > footer,
figcaption,
figcaption code,
article-archive-list time,
article-meta-bottom a,
article-meta-bottom,
article-meta-top a,
article-meta-top,
article-more-content time,
article-webring time,
article-summary-meta,
blockquote-footer,
home-page article > h2,
home-page-intro span,
side-note mark,
margin-note mark,
margin-note[left],
margin-note[right],
side-note[left],
side-note[right],
table-contents a,
table-contents h2,
taxonomy-archive-list time,
taxonomy-list time,
video-container footer a {
  color: #bfbfbf;
}

nav column-middle > a:hover,
nav column-middle more-button:hover {
  color: #fff;
}

nav column-middle a:hover svg,
nav column-middle more-button:hover svg {
  fill: #dd4b50;
}

context-menu-content {
  background-color: #004766;
  border-color: #00405c;
}

nav column-middle context-menu a[data-active] {
  background-color: #004766;
}

nav column-middle context-menu a:hover,
nav column-middle context-menu button:hover {
  color: #fff;
  background-color: #005d85;
}

article-archive-list li:hover,
taxonomy-list > section ul li:hover,
taxonomy-archive-list > section ul li:hover {
  background-color: #002e42;
}

resume-page timeline-item aside {
  border: 3px solid #001f2c;
}

home-page article > h1 em {
  color: #f48a8e;
}

[data-danger] {
  color: #ff8585;
}

contact-page aside {
  background-color: #002e42;
  border-color: #008fcc;
}

/* ---------------------------------------------------------- */

input::placeholder,
textarea::placeholder {
  color: #cad6e2;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #cad6e2;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #cad6e2;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #cad6e2;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #cad6e2;
}

#isso-thread > h4 {
  color: #b7c7d7;
}

#isso-thread .textarea.placeholder {
  color: #cad6e2;
}

.isso-postbox > .form-wrapper > .auth-section .input-wrapper input {
  background-color: #002e42;
  color: white;
}

.isso-comment .textarea,
.isso-postbox > .form-wrapper .textarea,
.isso-postbox > .form-wrapper .preview {
  background-color: #002e42;
}

.isso-comment > div.text-wrapper > .isso-comment-header .author {
  color: #ccc;
}

.isso-postbox > .form-wrapper .preview {
  background-color: #001f2c;
  background: repeating-linear-gradient(
    -45deg,
    #001f2c,
    #001f2c 10px,
    #002e42 10px,
    #002e42 20px
  );
}

.isso-comment > div.text-wrapper > .isso-comment-header .permalink {
  color: #ccc;
}

.isso-comment > div.text-wrapper > .text a {
  color: #cad6e2;
}
