/* dark theme */

html { background-color: #333338; }
a, .footer__section svg:hover { color: #75b2f0; }
a.navbar-item:hover { color: #fff; }
img { box-shadow: none; }
body, .serif > a { color: #cad6e2 }
div.highlight, .highlight pre { background-color: #404048; }
.content blockquote { color: #bdc1c7; }
.medium-zoom-overlay { background-color: #333338 !important; }
.navbar-item, .subtitle, .has-text-grey-dark { color: #ddd !important; }
.navbar__active { color: #75b2f0 !important; }
.navbar__border { border-bottom: 1px solid #666; }
.navbar-end > a.navbar-item:hover { background-color: #4698EA; color: #fff !important; }
.has-text-danger { color: #ff8f93 !important; }
.has-text-primary { color: #a6c9e8 !important; }
.footer__section a { color: #bbb; }
.footer { padding: 1.5rem; box-shadow: 0px -4px 10px 0px rgba(0,0,0,0.1); }
.navbar { background-color: #333338; background-color: rgba(51, 51, 56, 0.95); box-shadow: 0 4px 12px 0 rgba(0,0,0,.15); }
.title, .content h1, .content h2, .content h3 { color: #ffffff; }
.button.is-link.is-outlined, .button.is-success.is-outlined { border-color: #75b2f0; color: #cad6e2 !important; border-width: 1px; }
.input, .textarea { background-color: #404048; border-color: transparent; color: white; }
.brand__custom { background-color: white; color: black; }
.page__tags { background-color: #75b2f0; color: #212121; }
.message__success { background-color: #55a1ec; border: 1px solid #1259a1;  color: black; }
.pagination-link.is-current { background-color: #4a6078; border-color: #4a6078; color: #fff; }
.pagination-previous, .pagination-next, .pagination-link { border-color: #404048; color: #cad6e2; min-width: 2.25em; }
.pagination-previous:hover, .pagination-next:hover, .pagination-link:hover { color: #cad6e2; }
.pagination-previous[disabled], .pagination-next[disabled], .pagination-link[disabled] { background-color: #404048; border-color: #404048; color: #fff; }
@media screen and (min-width: 1088px) { .navbar__active { border-bottom: 2px solid #75b2f0 !important; color: white !important; } }
@media screen and (min-width: 1088px) { a.navbar-item:hover { border-bottom: 2px solid #75b2f0; } }
@media screen and (max-width: 1087px) { .navbar-end { background-color: #3a3a40; } }
@media screen and (max-width: 1087px) { .theme-toggle-button, .theme-toggle-button:hover { color: #cad6e2; } }
#isso-thread > h4 { color: #b7c7d7; }
#isso-thread .textarea.placeholder { color: #cad6e2; }
.isso-postbox > .form-wrapper > .auth-section .input-wrapper input { background-color: #404048; color: white; }
.isso-postbox > .form-wrapper .textarea, .isso-postbox > .form-wrapper .preview { background-color: #404048; }
.isso-comment > div.text-wrapper > .isso-comment-header .author { color: #fff; }
.isso-feedlink:hover, .isso-comment > div.text-wrapper > .isso-comment-footer a:hover { background-color: #34597f; color: white; }
.isso-comment-footer .upvote svg, .isso-comment-footer .downvote svg { fill: white };
input::-moz-placeholder, textarea::-moz-placeholder { color: #cad6e2; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #cad6e2; }
input:-moz-placeholder, textarea:-moz-placeholder { color: #cad6e2; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #cad6e2; }
.isso-postbox > .form-wrapper > .auth-section .post-action > input { border: 1px solid #557181; background-color: transparent; color: white; }
.isso-postbox>.form-wrapper .preview { background-color: #333338; background: repeating-linear-gradient(-45deg,#333338333,#333338333 10px,#404048 10px,#404048 20px); }
