{{ define "main" }}
<main>
  <abstracts-page>
    <article-list>
        <h1>{{ .Type | title }}</h1>

        <margin-note right>
          See an archive of all {{ .Type }} <a href="/archives/{{ .Type }}/">here.</a>
        </margin-note>

        <recent-articles>
          <recent-abstracts>
            {{ range where .Paginator.Pages ".Params.hidden" "ne" "true" }}
            {{ .Render "summary" }}
            {{ end }}
          </recent-abstracts>
        </recent-articles>

      {{ partial "article-pagination.html" . }}

      {{ partial "article-archive-link.html" . }}
    </article-list>
  </abstracts-page>
</main>
{{ end }}
