<abstract-card>
  <abstract-thumbnail>
    {{ partial "article-thumbnail-image.html" . }}
  </abstract-thumbnail>
  <abstract-summary>
    <section>
      <h2>
        <a
          href="{{ .Permalink }}"
          title="{{ .Title }}">
          {{ .Title | markdownify }}
        </a>
      </h2>
      <abstract-summary-meta>
        <footer>
          <p>{{ partial "meta-pagedate.html" . }}</p>
          <p>{{ partial "meta-readtime.html" . }}</p>
        </footer>
      </abstract-summary-meta>
    </section>
  </abstract-summary>
</abstract-card>
