{{- $source      := $.Destination | safeURL -}}
{{- $localPath   := print "public/" $source -}}
{{- $remoteImage := resources.GetRemote $source -}}
{{- $width       := "" -}}
{{- $height      := "" -}}

{{- with $remoteImage -}}
  {{- with .Err -}}
    {{- if fileExists $localPath -}}
      {{- $localImage := imageConfig $localPath -}}
      {{- with $localImage -}}
        {{- $width  = .Width -}}
        {{- $height = .Height -}}
      {{- end -}}
    {{- else -}}
      {{- $source = print "/images/thumbnails/placeholder.png" -}}
      {{- $localPath = print "static/" $source -}}
      {{- $localImage := imageConfig $localPath -}}
      {{- with $localImage -}}
        {{- $width  = .Width -}}
        {{- $height = .Height -}}
      {{- end -}}
    {{- end -}}
  {{- else -}}
    {{- $width  = .Width -}}
    {{- $height = .Height -}}
  {{ end }}
{{ end }}

{{- /* This comment removes trailing newlines. */ -}}
<figure>
  <a href="{{ $source }}" onclick="return false;">
    <img data-image-zoom
      src="{{ $source }}"
      alt="{{ $.Text | htmlUnescape }}"
      title="{{ $.Text | htmlUnescape }}"
      width="{{ $width }}"
      height="{{ $height }}"
    />
  </a>
{{ if $.Title }}
<figcaption>{{ $.Title | markdownify }}</figcaption>
{{ end -}}
</figure>
{{- /* This comment removes trailing newlines. */ -}}
