{{ $id := md5 (printf (.Get `mark`) .Inner) }}
{{ $imageFile := print "public" (.Get `source`) }}
{{ $image := imageConfig $imageFile }}

<span class="marginnote-container">
  <label for="{{ $id }}" class="marginnote-toggle marginnote-mark" title="{{ .Inner | replaceRE "\n" " " | markdownify }}"><span>{{ .Get `mark` | markdownify }}</span></label>
  <input type="checkbox" id="{{ $id }}" class="marginnote-toggle">
  <span class="sans-serif marginnote sideimage {{ .Get `set` }}note">
    <a href="{{.Get `source`}}" onclick="return false;">
      <img data-image-zoom src="{{ .Get `source`}}" alt="{{ .Inner | markdownify }}" title="{{ .Get `title`}}" width="{{ $image.Width }}" height="{{ $image.Height }}"/>
    </a>
    <span class="sideimage-footer is-block has-text-centered has-text-grey-dark"><mark>{{ .Inner | markdownify }}</mark></span>
  </span>
</span>
