{{- $mark   := (.Get `mark`)   -}}
{{- $set    := (.Get `set`)    -}}
{{- $source := (.Get `source`) -}}
{{- $title  := (.Get `title`)  -}}
{{- $id := md5 (printf $mark .Inner) -}}
{{- $imageFile := print "public" $source -}}
{{- $image := imageConfig $imageFile -}}

<side-note-aside>
  <label for="{{ $id }}" title="{{ .Inner | replaceRE "\n" " " | markdownify }}"><span>{{ $mark | markdownify }}</span></label>
  <input type="checkbox" id="{{ $id }}" name="toggle">
  <side-note title="{{ $mark }}" image {{ $set }}>
    <a href="{{ $source }}">
      <img
        loading="lazy"
        data-image-zoom=""
        src="{{ $source }}"
        title="{{ $title }}"
        width="{{ $image.Width }}"
        height="{{ $image.Height }}"
        alt="{{ .Inner | markdownify }}"
      />
    </a>
    <mark>{{ .Inner | markdownify }}</mark>
  </side-node>
</side-note-aside>
